@import '_colors';

button,
input[type=submit] {
  text-transform: uppercase;
  background: none;
  border: 1px solid $black;
  font-weight: 600;
  font-size: 1.5rem;
  font-family: 'Open Sans';
  transition: all 0.2s;
  position: relative;
  z-index: 2;
}
button[disabled],
input[type=submit][disabled] {
  color: $red;
  background: $white;
  border-color: $red;
  transform: rotate(-10deg) scale(2) translateX(50%) translateY(-50%);
}
button[disabled]:hover,
input[type=submit][disabled]:hover {
  color: $red;
  cursor: not-allowed;
}
button[disabled]:after,
input[type=submit][disabled]:after {
  display: none;
}
button:after,
input[type=submit]:after {
  content: '';
  z-index: -1;
  display: block;
  position: absolute;
  width: 100%;
  height: 0;
  left: 0;
  top: 0;
  transition: all 0.2s;
}
button:hover,
input[type=submit]:hover,
button:focus,
input[type=submit]:focus {
  color: $white;
  outline: 0;
}
button:hover:after,
input[type=submit]:hover:after,
button:focus:after,
input[type=submit]:focus:after {
  height: 100%;
}
button.warning:after,
input[type=submit].warning:after {
  background: $red;
}
button.success:after,
input[type=submit].success:after {
  background: $green;
}