.link-button {
  background:none;
  border:none;
  padding:0!important;
  font: inherit;
  text-transform: none;

  &:hover {
    color: blue;
    text-decoration: underline;
    background-color: white;
  }
}