@import '../../styles/_colors';

.Fish {
  border-bottom: 2px solid $black;
  border-top: 1px solid $black;
  padding: 2rem;
  margin-bottom: 5px;
  clear: both;
  overflow: hidden;
  p {
    margin: 0;
    font-size: 1.8rem;
  }
  .name {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .price {
    font-size: 1.4rem;
    justify-content: flex-end;
  }
  img {
    float: left;
    width: 150px;
    margin-right: 1rem;
  }
}
